name: Test CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup emsdk
      uses: mymindstorm/setup-emsdk@v11
      with:
        # Make sure to set a version number!
        version: 3.1.10
        # This is the name of the cache folder.
        # The cache folder will be placed in the build directory,
        #  so make sure it doesn't conflict with anything!
        actions-cache-folder: 'emsdk-cache'
    - name: build wasm
      run: make
      
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    
    - name: build js
      run: |
        npm i
        npm run build
        
    - name: test
      run: npm test
